@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto+Mono&display=swap');

:root {
    --background: #004C58; 
    --secondary: #FAF3DD;
    --primary1: #2DC7FF;
    --primary2: #3fba4c;
    --primary3: #DE175D;

    --title-font: 'Be Vietname', sans-serif;
    --text-font: 'Noto Sans Mono', monospace;

    background-color: var(--background);
    color: var(--primary2);
}

* {
  font-size: 30px;
  font-family: var(--text-font);
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 50px;
  font-family: var(--title-font);
}

nav li {
  padding: 20px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;

  transition-duration: 0.5s;
}

li:hover {
  font-size: 40px;
  transition-duration: 0.25s;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 40px;
  margin: 3%;
}

p {
  margin: 5%;
  line-height: 175%;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}